html, body {
    height: 100%;
}

body {
    background-color: rgb(192, 192, 255);
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.star {
    font-size: 1.5rem;
    cursor: pointer;
    color: gray;
}

.star.selected {
    color: gold;
}

.rating-stars i {
    margin-right: 2px;
    font-size: 1.1rem;
}

#ratingStars i {
    transition: color 0.15s;
}
