<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title='Webshop - Profile')}"></head>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
    <h1>Mein Konto</h1>
    <div id="profile">
        <p><strong>Anrede:</strong> <span id="salutation"></span></p>
        <p><strong>Vorname:</strong> <span id="firstName"></span></p>
        <p><strong>Nachname:</strong> <span id="lastName"></span></p>
        <p><strong>Land:</strong> <span id="country"></span></p>
        <p><strong>Adresse:</strong> <span id="address"></span></p>
        <p><strong>Postleitzahl:</strong> <span id="postalCode"></span></p>
        <p><strong>Stadt:</strong> <span id="city"></span></p>
        <p><strong>E-Mail:</strong> <span id="email"></span></p>
        <p><strong>Benutzername:</strong> <span id="username"></span></p>
        <p><strong>Geburtsdatum:</strong> <span id="dateOfBirth"></span></p>
    </div>
</div>

<script src="/scripts/profile.js"></script>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>