<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title='Login')}"></head>
<body>
<main>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <h1 class="mb-4 text-center">Login</h1>

                <form th:action="@{/auth/login}" th:object="${loginDto}" method="post" onsubmit="handleLogin(event)">

                    <div class="mb-3">
                        <label for="username" class="form-label">Benutzername oder E-Mail</label>
                        <input type="text" id="username" th:field="*{username}" class="form-control" placeholder="Benutzername oder E-Mail" required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Passwort</label>
                        <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="Passwort" required>
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="rememberMe" th:field="*{rememberMe}">
                        <label class="form-check-label" for="rememberMe">Login merken</label>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Einloggen</button>
                    <p id="login-message" class="message"></p>
                </form>

            </div>
        </div>
    </div>
</main>
<script src="/scripts/auth.js"></script>
</body>
</html>